/* home page*/
body {
  background-color: black;
  font-family: 'Permanent Maker', sans-serif;
  margin: 25px;
}

h1 {
  color: burlywood;
  font-family: 'Permanent Marker', sans-serif;
  font-size: 65px;
  margin: 35px;
}
p {
  color: burlywood;
  font-family: 'Permanent Marker', sans-serif;
  margin: 25px;
}

h2 {
  color: burlywood;
  font-family: 'Special Elite', sans-serif;
  font-size: 25px;
  margin: 25px;
}

a {
  color: burlywood;
  font-family: 'Permanent Marker', sans-serif;
  font-size: 35px;
  margin: 25px;
}

div {
  margin: 25px;
}

/*
I have copied link to this CSS reference page
Need to make classes as to apply to all my HTML pages




About Me Page
.aboutMe {
  body: background-color: salmon;
    

    p {
      color: saddlebrown;
      font-family: 'Permanent Marker', cursive;
      font-size: 27px;

    }

    div {
      margin: 125px;
    }
}
/*